/* 改变主题色变量 */
@import "./color";

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/* mint-ui 样式库 */
@import "~mint-ui/lib/style.css";

/* 引入 element 样式*/
@import "~element-ui/packages/theme-chalk/src/index";

.routerView {
  width: 100%;
  height: 100%;
  background: #fff;
}